<%= form_with(model: presentation, local: true) do |form| %>
  <% if presentation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(presentation.errors.count, "error") %> prohibited this presentation from being saved:</h2>

      <ul>
        <% presentation.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :group_id, class: "form-label" %>
    <%= form.number_field :group_id, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :topic, class: "form-label"  %>
    <%= form.text_field :topic, class: "form-control" %>
  </div>

<br>

  <div class="text-center"> 
    <%= form.submit "Create Presentation", class: "btn btn-primary mb-2" %> 
  </div>
<% end %>
