<p id="notice"><%= notice %></p>

<h1>Presentations</h1>

<table>
  <thead>
    <tr>
      <th>Topic</th>
      <th>Group</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @presentation.each do |p| %>
      <tr>
        <td><%= p.topic %></td>
        <td><%= p.group_id %></td>
        <% if current_user.isTeacher %>
          <td><%= link_to 'Show', presentation %></td>
          <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% else %>
          <td><%= link_to 'Show', user %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if current_user.isTeacher %>
  <%= link_to 'New Presentation', new_presentation_path %>
<% end %>

