<p id="notice"><%= notice %></p>

<h1>Presentations</h1>

<table class="table table-striped">
  <thead class="thead-color">
    <tr>
      <th>Group</th>
      <th>Topic</th>
      <th colspan="4">Options</th>
    </tr>
  </thead>

  <tbody>
    <% @presentations.each do |presentation| %>
      <tr>
        <td><%= presentation.group_id %></td>
        <td><%= presentation.topic %></td>
        <td><%= link_to 'Show', presentation %></td>
        <td><%= link_to 'Edit', edit_presentation_path(presentation) %></td>
        <td><%= link_to 'Destroy', presentation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to "Complete Feedback", new_feedback_path %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div class="text-center"> <%= link_to 'New Presentation', new_presentation_path, class: "btn btn-primary mb-2"%> </div>
