<p id="notice"><%= notice %></p>

<h1> <%= @presentation.topic %> </h1>

<p class="show-field">
  <strong>Group:</strong> <%= @presentation.group.name %>
</p>

<% total_ranking = 0 %>
<% count = 0 %>
<% @presentation.feedbacks.each do |feedback| %>
  <% total_ranking = total_ranking + feedback.ranking %>
  <% count = count + 1 %>
<% end %>

<% if count > 0 %>
  <p class="show-field">
    <strong>Average Ranking:</strong> <%= total_ranking / count %>
  </p>
<% end %>

<p class="show-field"><strong>Feedback: </strong></p>
<% if @presentation.feedbacks.any? %>
  <table class="table table-striped">
    <thead class="thead-color">
      <tr>
        <th>Presentation</th>
        <th>Ranking</th>
        <th>Comment</th>
        <th colspan="3">Options</th>
      </tr>
    </thead>

      <tbody>
          <%= render @feedbacks %>
      </tbody>
  </table>
<% else %>
  <h5>No feedback.</h5>
<% end %>

<br>