<p id="notice"><%= notice %></p>

<h1>About <%= @user.name %></h1>

<p class="show-field">
  <strong>Name: </strong>
  <%= @user.name %>
</p>

<p class="show-field">
  <strong>Email: </strong>
  <%= @user.email %>
</p>

<p class="show-field">
  <strong>Group: </strong>
  <% if @user.group_id != nil %>
    <%= @user.group.name %>
  <% else %>
    <%= @user.group_id %>
  <% end %>
</p>

<p class="show-field"><strong>Presentations: </strong></p>
<% if @user.group_id != nil %>
  <% if @user.group.presentations.any?%>
    <table class="table table-striped">
      <thead class="thead-color">
        <tr>
          <th>Group</th>
          <th>Topic</th>
          <th colspan="4">Options</th>
        </tr>
      </thead>
      <tbody>
        <%= render @presentations %>
      </tbody>
    </table>
    <% end %>
<% else %>
  <h5>No presentations.</h5>
<% end %>

<br>