<%= form_with(model: feedback, local: true) do |form| %>
  <% if feedback.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(feedback.errors.count, "error") %> prohibited this feedback from being saved:</h2>

      <ul>
        <% feedback.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :presentation, class: "form-label" %>
    <%= form.collection_select :presentation_id, Presentation.all, :id, :topic %>
  </div>

  <div class="field">
    <%= form.label :ranking, class: "form-label" %>
    <%= form.number_field :ranking, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :comment, class: "form-label" %>
    <%= form.text_area :comment, class: "form-control" %>
  </div>

<br>

  <div class="text-center"> 
    <%= form.submit "Create Feedback", class: "btn btn-primary mb-2" %> 
  </div>
<% end %>
