<p id="notice"><%= notice %></p>

<p>
  <strong>Loves:</strong>
  <%= @rate.loves %>
</p>

<p>
  <strong>Likes:</strong>
  <%= @rate.likes %>
</p>

<p>
  <strong>Song:</strong>
  <%= @rate.song %>
</p>

<%= link_to 'Back', rates_path %>
