<header class="navbar navbar-fixed-top navbar-inverse">
<div class="container">
  <%= link_to "Evaluate", root_path, id: "logo" %>
  <nav>
    <ul class="nav navbar-nav navbar-right">
      <li class="nav-item"><%= link_to "Home", root_path %></li>
      <% if logged_in? %>
        <li class="nav-item"><%= link_to "Roster", users_path %></li>
      <% if teacher? %>
        <li class="nav-item"><%= link_to "Groups", groups_path %></li>
      <% end %>
        <li class="nav-item"><%= link_to "Evaluate", presentations_path %></li>
        <li class="nav-item-dropdown">
          <a class="nav-link-dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Account <b class="caret"></b>
          </a>

            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <li class="dropdown-item"> <%= link_to "About Me", current_user %> </li>
            <li class="dropdown-item"><%= link_to "Settings", edit_user_path(current_user) %></li>
            <li class="divider"></li>
            <li class="dropdown-item">
              <%= link_to "Log out", logout_path, method: "delete" %>
            </li>
          </ul>
        </li>

      <% else %>
      <li><%= link_to "Log in", login_path %></li>
      <% end %>
    </ul>
  </nav>
  </div>
</header>